.App {
  text-align: center;
  margin: 5px 20px;
}
.head {
  background-color: #fafafb;
}
.box {
  border-right: 1px solid #e0e0e0;
}
.small {
  background-color: #565e5d;
  color: white;
  padding: 4px;
  border-radius: 18px;
}
.btn {
  background-color: #565e6d;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
}
